@import "../com/bourbon/bourbon"
$roboto-font-path: "../build/fonts"
@import "../com/roboto-fontface/css/roboto-fontface"
@import "variables"
@import "base"
.gameContainer
  display: inline-block
  text-align: left
  margin: 20px 0
  *,*:after,*:before
    font-family: 'roboto-regular'
    box-sizing: border-box

  .gridContainerOuter
    background-color: $gridContainerOuterBackgroundColor
    border: solid $gridContainerOuterBorderWidth $gridContainerOuterBorderColor
    position: relative

    .gridContainerInner
      position: absolute
      left: 0
      top: 0
      .backgroundGrid
        position: absolute

      .mainGrid
        position: absolute

        .tile
          position: absolute
          background-color: $tileBackgroundColor
          color: $tileColor
          text-align: center
          border-radius: 3px
          z-index: 100
          opacity: 1
          @include transition(all $bitAnimationTime/4 ease,z-index $bitAnimationTime ease,opacity $bitAnimationTime ease)
          &.invisible
            z-index: -100
            opacity: 0
            @include transform(scale(0.6))
          &.fixed.fixed
            background-color: #000000
            z-index: 505
          &.updated
            z-index: 500
            @include transform(scale(1.2))

        .bit
          position: absolute
          background-color: $bitBackgroundColor
          color: $bitColor
          text-align: center
          z-index: -5
          @include transform(scale(0.5))
          @include transition(none)
          &.transition
            @include transition(all $bitAnimationTime ease-in, z-index $bitAnimationTime/5 linear)
          &.left
            border-radius: 50% 10% 10% 50%
          &.right
            border-radius: 10% 50% 50% 10%
          &.up
            border-radius: 50% 50% 10% 10%
          &.down
            border-radius: 10% 10% 50% 50%
          &.visible
            border-radius: 50%
            @include transform(scale(0.7))
            z-index: 5
          &.invisible
            z-index: -5
            background-color: transparent
            color: transparent
